body {
  margin: 0;
}

header {
  background-color: #e8f9fd;
  margin-bottom: 40px;
}

header h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li a {
  /*color: #fff;*/
  text-decoration: none;
  margin: 0 20px 0 0;
  align-items: flex-end;
  font-family: 'Roboto', sans-serif;
}

header nav ul li:last-child a {
  margin-right: 0;
  font-family: 'Roboto', sans-serif;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
  border: 10px;
  padding: 10px;
  padding-right: -20px;
  
}

.item {
  flex: 1;
  margin: 10px;

}

.item-two {
  flex: 2;
  margin: 20px;
  flex-wrap: wrap;
}

.item-port {
  flex: 1;
  margin: 10px;
  flex-wrap: wrap;
  
}

.contact a {
  flex: 1;
  justify-content: space-between;
  margin-bottom: -30px;
  border-bottom: -10px;
  padding-bottom: -10px;
}

ion-icon {
  font-size: 36px;
  color: #000;
}

ion-icon:hover {
  color:#ae00ff;
}


.contact1:hover {
  color: #ae00ff;
}

h2, h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

form label {
  display: flex;
  flex: 1;
  font-size: 18px;
  margin-bottom: 5px;
  color: #000;
  font-family: arial;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

form textarea {
  height: 8.75rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

font input {
  font-size: 20px;
}
form form-message {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 8px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #ff1e00;
  font-family: 'Roboto', sans-serif;
}

@media all and (min-width: 400px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }
  
  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  .group {
    flex-direction: row;

  }

  p, form, label, textarea form-message {
    font-size: 16px;
  }

  a.contact:link {
  color: #000000;
}

  a.contact:visited {
  color: #ae00ff;
}

  a.contact:hover {
  color: pink;
}

  a.contact:active {
  color: orange;
}

.contact a {
  flex: 1;
  justify-content: space-between;
  margin-bottom: -30px;
  border-bottom: -10px;
  padding-bottom: -10px;
}

}